{% extends '_includes/layout.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/admin_profile.css">    
    <title>Marefiya - Admin Profile</title>
    <style type="text/css">
        .alert{
            padding: 20px 5px;
            width: 100%;
            margin-bottom: 20px;
        }
        .alert-success{
            background-color: #267026; 
            color: #fff;
        }
    </style>
{% endblock head %}

{% block content %}
    
    {% include '_includes/nav_admin.html'%}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <section class="profile-area">
        <div class="image-and-name">
            <img src="../static/img/admin.jpg" alt="profile-pic">
            <div class="inner-flex">
                <p class="profile-name">{{ current_user.full_name }}</p>
                <p class="profile-email">{{ current_user.email }}</p>
            </div>
        </div>
        <div class="info">
            <p class="account-info-text">Account Info</p>

            <form action="" method="POST">       

                <label for="full-name">{{ form.full_name.label }}</label>
                {% if form.full_name.errors %}
                    <p>
                       {{ form.full_name(id="full-name", value=owner.full_name) }} 
                    </p>
                    {% for error in form.full_name.errors%}
                        <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p>
                       {{ form.full_name(id="full-name", value=owner.full_name) }} 
                    </p>
                {% endif %}

                <label for="email">{{ form.email.label }}</label>
                {% if form.email.errors %}
                    <p>
                       {{ form.email(id="email", value=owner.email) }} 
                    </p>
                    {% for error in form.email.errors%}
                        <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p>
                       {{ form.email(id="email", value=owner.email) }} 
                    </p>
                {% endif %}

                <label for="phone">{{ form.phone.label }}</label>
                {% if form.phone.errors %}
                    <p>
                       {{ form.phone(id="phone", value=owner.phone) }} 
                    </p>
                    {% for error in form.phone.errors%}
                        <p style="color: red; font-size: 0.9em;">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p>
                       {{ form.phone(id="phone", value=owner.phone) }} 
                    </p>
                {% endif %}

                <p>
                    {{ form.submit }}
                </p>
            </form>

        </div>
    </section>
    
    
    <script src="../static/js/jquery.js"></script>
    <script>
        document.querySelector('.menu-btn').addEventListener(
            'click', function (){
                document.querySelector('.center-menu-ul').classList.toggle('show');
                document.querySelector('.right-menu-ul').classList.toggle('show');
            } 
        );       
    </script>
{% endblock content %}