@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,400&display=swap');

/* CSS VARIABLES */
:root{
    --space-cadet: #302E4D;
    --permanent-grenium: #E5242a;
    --platinium: #E6E8E6;
    --dark-purple: #3D0B37;
    --tyrian-purple: #610528;
}

/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: #f2f2f2;
}

/* GLOBAL CLASSES */
.container{
    width: 90%;
    margin: 0 auto;
}


/* Navigation Bar */
.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
    color: var(--permanent-grenium);
    z-index: 2;
    display: none;
}

.header{
    background-color: var(--dark-purple);
    padding: 10px 0px 0 0;
    height: 80px;
    width: 100%;
    transition: all 0.5s ease-in;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li{
    list-style: none;
    margin-right: 50px;
}
.navigation .right-menu ul li{
    margin-right: 15px;
}

.navigation ul li a{
    color: var(--platinium);
    text-decoration: none;
}

.navigation img{
    width: 200px;
    height: 60px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

div[class="right-menu"] li:nth-child(2), div[class="right-menu"] li:nth-child(2) a{
    background-color: var(--space-cadet);
    padding: 10px 8px;
    border-radius: 7px;
    color: var(--permanent-grenium);
}

div[class="right-menu"] li:nth-child(1), div[class="right-menu"] li:nth-child(1) a{
    background-color: var(--permanent-grenium);
    padding: 10px 8px;
    border-radius: 7px;
    color: var();
}


.navigation div[class="center-menu"] a{
    transition: all 1s ease-in-out;
}
.navigation div[class="center-menu"] a.active{
    border-bottom: 1px solid var(--platinium);
}

.navigation div[class="center-menu"] a:hover{
    border-bottom: 1px solid var(--platinium);
}

/* SLIDER CONTAINER */
.slider-container{
    min-height: 400px;
    width: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0px;
    margin-bottom: 20px;
}
button.left, button.right{
    background-color: var(--tyrian-purple);
    border: 0;
    color: #fff;
    opacity: 0.3;
    font-size: 2em;
    margin: 0px;
}

button.left:hover , button.right:hover{
    opacity: 1;
}

.details h2{
    font-size: 2em;
    margin-bottom: 0;
}
.details p{
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6;
}

.details{
    padding: 0% 10%;
    background-color: #f2f2f2;
}

.owner-details{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
}
.owner-details img{
    display: inline;
    width: 30%;
    height: 80%;
}
.details small a{
    text-decoration: none;
    font-weight: 700;
    color: #333;
}

.details small a:hover{
    color: var(--permanent-grenium);
}

.contact{
    text-decoration: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 8px;
    border-radius: 7px;
}

/* Media Queries */

@media(max-width: 850px){

    /* Navigation Start */
    .menu-btn{
        display: block;
    }

    .menu-btn:hover{
        opacity: 0.5;
    }

    .navigation .center-menu ul{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--platinium);
        width: 50%;
        height: 100%;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out; 
    }

    .navigation .center-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu ul{
        display: block;
        position: absolute;
        top: 150px;
        left: 0;
        padding: 0 30px 0 30px;
        opacity: 0.9;
        transform: translateX(-500px); 
        transition: transform 0.5s ease-in-out; 
    }

    .navigation .right-menu ul li{
        margin-bottom: 20px;
        margin-bottom: 1px solid #333;
    }
    
    .navigation .center-menu ul li{
        padding: 10px 0;
        margin-bottom: 1px solid #333;
    }
    .navigation .center-menu ul li a{
        color: var(--tyrian-purple);
    }
    /* Navigation End */

    .right-menu-ul img{
        display: none;
    }
    #profile-name{
        color: var(--tyrian-purple);
        padding: 10px 0;
    }
    div[class="right-menu"] li:nth-child(2){
        background-color: var(--platinium);
        padding: 0;
    }
    
    .fix-1{
        font-size: 0.8em;
    }

}

@media(max-width: 620px){
   .content-wrapper{
       width: 100%;
   }
   
}