/* CSS VARIABLES */
:root{
    --space-cadet: #302E4D;
    --permanent-grenium: #E5242a;
    --platinium: #E6E8E6;
    --dark-purple: #3D0B37;
    --tyrian-purple: #610528;
}

/* Navigation Bar */
.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
    color: var(--permanent-grenium);
    z-index: 2;
    display: none;
}

.header{
    background-color: var(--dark-purple);
    padding: 10px 0px 0 0;
    height: 80px;
    width: 100%;
    transition: all 0.5s ease-in;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li{
    list-style: none;
    margin-right: 50px;
}
.navigation .right-menu ul li{
    margin-right: 15px;
}

.navigation ul li a{
    color: var(--platinium);
    text-decoration: none;
}

.navigation img{
    width: 200px;
    height: 60px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}



div[class="right-menu"] li:nth-child(2), div[class="right-menu"] li:nth-child(2) a{
    background-color: var(--space-cadet);
    padding: 10px 8px;
    border-radius: 7px;
    color: var(--platinium);
}

div[class="right-menu"] li:nth-child(1), div[class="right-menu"] li:nth-child(1) a{
    background-color: var(--permanent-grenium);
    padding: 10px 8px;
    border-radius: 7px;
    color: var(--platinium);
}

.navigation div[class="center-menu"] a{
    transition: all 1s ease-in-out;
}
.navigation div[class="center-menu"] a.active{
    border-bottom: 1px solid var(--platinium);
}

.navigation div[class="center-menu"] a:hover{
    border-bottom: 1px solid var(--platinium);
}

/*Media Queries*/
@media(max-width: 850px){

    /* Navigation Start */
    .menu-btn{
        display: block;
    }

    .menu-btn:hover{
        opacity: 0.5;
    }

    .navigation .center-menu ul{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--platinium);
        width: 50%;
        height: 100%;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out; 
        z-index: 3;
    }

    .navigation .center-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu ul{
        display: block;
        position: absolute;
        top: 150px;
        left: 0;
        padding: 0 30px 0 30px;
        opacity: 0.9;
        transform: translateX(-500px); 
        transition: transform 0.5s ease-in-out; 
        z-index: 3;
    }

    .navigation .right-menu ul li{
        margin-bottom: 10px;
        margin-bottom: 1px solid #333;
    }

    .navigation .right-menu ul li:nth-child(2) a{
        background-color: #000;
    }
    
    .navigation .center-menu ul li{
        padding: 10px 0;
        margin-bottom: 1px solid #333;
    }
    .navigation .center-menu ul li a{
        color: var(--tyrian-purple);
    }
    /* Navigation End */
}