@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,400&display=swap');

/* CSS VARIABLES */
:root{
    --space-cadet: #302E4D;
    --permanent-grenium: #E5242a;
    --platinium: #E6E8E6;
    --dark-purple: #3D0B37;
    --tyrian-purple: #610528;
}

/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* GLOBAL CLASSES */
.container{
    width: 90%;
    margin: 0 auto;
}





.content-wrapper{
    width: 90%;
    background-color: #f2f2f2;
    margin: 10px auto;
    padding: 2em 1em;
}

.content-wrapper h2{
    font-size: 2.1em;
    margin-bottom: 15px;
}

.content-wrapper label{
    font-size: 1.25em;
}

.content-wrapper input{
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0.5em 1em;
}

.content-wrapper textarea{
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0.5em 0;
}

.content-wrapper input:focus, .content-wrapper textarea:focus{
    outline: none;
    border: 0;
    border: 1px solid var(--permanent-grenium);
}

.content-wrapper input[type="submit"]{
    width: auto;
    padding: 0.9em 1em;
    background-color: #267026;
    border: 0;
    border-radius: 5px;
    color: var(--platinium);
}

#asset-lat, #asset-lng{
    width: 50%;
    margin-bottom: 5px;
}

#asset-get-loc{
    display: block;
    background-color: var(--space-cadet);
}


/* Media Queries */

@media(max-width: 850px){

    /* Navigation Start */
    .menu-btn{
        display: block;
    }

    .menu-btn:hover{
        opacity: 0.5;
    }

    .navigation .center-menu ul{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--platinium);
        width: 50%;
        height: 100%;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out; 
    }

    .navigation .center-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu-ul.show{
        transform: translateX(0px);
    }

    .navigation .right-menu ul{
        display: block;
        position: absolute;
        top: 150px;
        left: 0;
        padding: 0 30px 0 30px;
        opacity: 0.9;
        transform: translateX(-500px); 
        transition: transform 0.5s ease-in-out; 
    }

    .navigation .right-menu ul li{
        margin-bottom: 10px;
        margin-bottom: 1px solid #333;
    }
    
    .navigation .center-menu ul li{
        padding: 10px 0;
        margin-bottom: 1px solid #333;
    }
    .navigation .center-menu ul li a{
        color: var(--tyrian-purple);
    }
    /* Navigation End */

    .right-menu-ul img{
        display: none;
    }
    #profile-name{
        color: var(--tyrian-purple);
        padding: 10px 0;
    }
    div[class="right-menu"] li:nth-child(2){
        background-color: var(--platinium);
        padding: 0px;
    }

}

@media(max-width: 620px){
   .content-wrapper{
       width: 100%;
   }
   
}